*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Commissioner", sans-serif;
    font-size: 1.6rem;
    color: #2e1c1c;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: #0a0202;
    text-decoration: none;
}

.section-layout{
    padding-top: 20px;
    padding-bottom: 30px;
}

.main-content{
    margin-top: 36px;
}

.news-header{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.header-image{
    margin: 0 -15px 16px;
    position: relative;
    display: block;
    transition: 0.2s linear;
}

.header-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-image::after{
    content: "";
    display: block;
    padding-top: 66.66%;
}

.image-description{
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background: #a22721c2;
    color: #fff;
    width: 100%;
}

.header-title{
    align-items: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: auto hidden;
}

.header-title a{
    color: #A52822;
    text-decoration: none;
}

.header-title span{
    color: #595959;
}

.header-title a, .header-title span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    display: inline;
    margin-right: 5px;
    text-transform: uppercase;
}

.header-title span::before{
    content: "\00BB";
    display: inline-block;
    margin-right: 7px;
    color: #A52822;
}

.header-title svg{
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
}

.football-link::before{
    content: "\00BB";
    display: inline-block;
    margin-right: 7px;
    color: #A52822;
}

.header-sub-title{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.2px;
}

.article-title{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding: 0 5px;
    margin-bottom: 1rem;
}

.article-title a{
    color: #A52822;
    text-decoration: none;
}

.article-content{
    padding: 0 5px;
    padding-bottom: 30px;
}

.article-subtitle{
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 1.5rem;
}

.article-subtitle::after{
    background-color: #f5f0f3;
    border-radius: 100px;
    content: "";
    display: block;
    height: 10px;
    margin-bottom: 20px;
    margin-top: 6px;
    width: 100%;
}

.article-content p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}






/* footer */

footer{
    padding: 30px 0 !important;
    background-image: linear-gradient(90deg, #601512 0, #A52822 100%);
    color: #fff;
}

.align-footer{
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: unset !important;
    display: block;
    padding: 30px 30px 10px;
    padding: 10px !important;
    text-align: center;
    background-color: unset !important;
}

.align-footer p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.pulse-logo a{
    text-decoration: none;
}

.pulse-flex{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pulse-flex::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 40px;
    background: url(../assets/footerimg2.svg) no-repeat;
    background-size: 100%;
}

.other-countries{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.other-countries a{
    display: inline-block;
    text-decoration: none;
}

.other-countries a img{
    max-width: 40px;
    display: block;
}

.footer-socials{
    margin-top: 20px;
}

.footer-socials a{
    margin-right: 5px;
    text-decoration: none;
}

.footer-socials a svg{
    margin-top: -7px;
}

.footer-text{
    margin-top: 20px;
}

.footer-text-links{
    font-weight: 700;
}

.footer-text-links a{
    color: #fff !important;
    font-weight: 300;
    display: inline-block;
    padding: 5px 5px 10px;
    text-decoration: none;
}

.footer-text-links a::after{
    color: #fff;
    content: ",";
    display: inline;
    font-size: 11px;
    margin: 0 2px;
    line-height: 16px;
}

.footer-text-links a:last-of-type::after {
    content: "";
}

.improve{
    font-size: 19px !important;
    font-weight: 500 !important;
    color: #ffeb3b !important;
}

.sportal{
    cursor: pointer;
    display: inline-block;
    height: 55px;
    text-decoration: none;
    width: 250px;
    margin-top: 16px;
}



/* MEDIA QUERY */

/* 768 */

@media (min-width: 768px){

.news-header{
    padding: 0;
}

.header-image{
    order: 3;
    margin: 0 0 35px;
    border-radius: 15px;
    overflow: hidden;
}

.header-sub-title{
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.3px;
    margin-bottom: 30px;
}

.article-title, .article-content{
    padding: 0;
}

.article-content p{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}

.align-footer{
    padding: 55px 50px 50px;
}

.footer-text-links{
    display: inline;
}

.article-subtitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}
}

/* 992 */

@media (min-width: 992px){
.article-subtitle{
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}
}


/* 1024 */

@media (min-width: 1024px){
.header-title{
    display: inline-block !important;
    white-space: normal !important;
}
}

/* 1260 */

@media (min-width: 1260px){
.main-content {
    flex: 0 0 calc(100% - 320px) !important;
    width: calc(100% - 320px) !important;
    max-width: calc(100% - 320px);
    padding-left: 40px;
}
}